<h2><img src="{{ serverimg(server.id, server.icon) }}" class="rounded small"/><a href="/server/{{ server.id }}">{{ server.name }}</a> <small>#{{ channel.name }}</small></h2>
{% if channel.topic %}
<p>{{ channel.topic }}</p>
{% endif %}

<div class="row">
    <div class="col"><div class="card">
        <div class="card-block">
            <h4 class="card-title">Card title</h4>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div></div>
    <div class="col"><div class="card">
        <div class="card-block">
            <h4 class="card-title">Card title</h4>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div></div>
</div>
<div class="row">
    <div class="col">
<ul class="list-group servers-list">
    {% for message in messages %}
    <li class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
            <small>{{ message.author.username }}</small>
            <small>{{ message.timestamp }}</small>
        </div>
        <p class="mb-1">{{ message.content }}</p> <!-- Message ID : {{ channel.id }} -->
    </li>
    {% endfor %}
</ul>
    </div>
</div>