<h2><img src="{{ serverimg(server.id, server.icon) }}" class="rounded small"/><a href="/server/{{ server.id }}">{{ server.name }}</a> <small>#{{ channel.name }}</small></h2>
{% if channel.topic %}
<p>{{ channel.topic }}</p>
{% endif %}

<ul class="list-group servers-list">
    {% for message in messages %}
    <li class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
            <small>{{ message.author.username }}</small>
            <small>{{ message.timestamp }}</small>
        </div>
        <p class="mb-1">{{ message.content }}</p> <!-- Message ID : {{ channel.id }} -->
    </li>
    {% endfor %}
</ul>