<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Tumult">
    <meta content="Tumult" property="og:site_name"/>
    <meta content="Tumult" property="og:title"/>
    <meta content="Tumult shows statistics about your Discord servers" property="og:description"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/jquery/3.1.1/jquery.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="/static/script.js"></script>
    <link rel="icon" href="/static/img/favicon.png">
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/vis.min.js"></script>
    <link src="/static/vis.min.css" rel="stylesheet" type="text/css" />
    <title>Tumult</title>
</head>
<body>
<header>
    <nav class="navbar navbar-top navbar-toggleable-md  navbar-dark bg-inverse navbar-inverse bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container">
            <a class="navbar-brand" href="/">Tumult</a>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/me">Home</a>
                    </li>
                </ul>
                <span class="navbar-text">
                    {% if user %}
                        <img src="{{ avatarimg(user.id, user.avatar) }}" class="avatar" />
                        {{ user.username }}
                    {% endif %}
                </span>
            </div>
        </div>
    </nav>
</header>
<main class="container">
    {% if infoMessage %}
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{ infoMessage }}
    </div>
    {% endif %}
    {% if warningMessage %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{ warningMessage }}
    </div>
    {% endif %}
    {% if contentTemplate %}
        {% include contentTemplate %}
    {% else %}
        {{ content }}
    {% endif %}
</main>
<hr class="my-4">
<footer class="text-muted">
    <div class="container">
        Tumult, by Kewin Dousse & Vincent Robatel
    </div>
</footer>
</body>
</html>
