<style type="text/css">
    #mynetwork {
        width: 100%;
        height: 80vh;
        border: 1px solid lightgray;
    }
</style>

<script>
    var channels = {{ data.channels | tojson }};
</script>

<h2><img src="{{ serverimg(server.id, server.icon) }}" class="rounded small"/>{{ server.name }}</h2>
<div class="container">
    <div class="row">
        <div class="col">
            <h2>Current informations</h2>
            <p><b>{{ serverinfos.nbmessages }}</b> messages</p>
            <p><b>{{ serverinfos.nbchannels }}</b> channels</p>
            <p>From <b>{{ serverinfos.firstmessage.timestamp }}</b> to <b>{{ serverinfos.lastmessage.timestamp }}</b>
            </p>
        </div>
        <div class="col">
            <h2>Compute more stats</h2>
            <form class="form-inline">
                <label class="mr-sm-2" for="channelSelect">Channel</label>
                <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="channelSelect">
                    {% for channel in data.channels %}
                        {% if channel.type == "text" %}
                            <option value="{{ channel.id }}">#{{ channel.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <label class="sr-only" for="nbMessagesInput">Nb messages</label>
                <input type="number" class="form-control mb-2 mr-sm-2 mb-sm-0" id="nbMessagesInput" placeholder="100">
                <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="timeSelect">
                    <option value="before">older</option>
                    <option value="after">newer</option>
                </select>
                <button type="button" class="btn btn-primary" id="computeButton">Compute</button>
            </form>
        </div>
    </div>
</div>

    <!-- COMPUTE BUTTON LOGIC -->
    <script>
        var computeButton = document.getElementById("computeButton");
        var nbMessagesInput = document.getElementById("nbMessagesInput");
        var channelSelect = document.getElementById("channelSelect");
        var timeSelect = document.getElementById("timeSelect");

        computeButton.addEventListener('click', function () {

            var guildId = '{{ data.guildId }}';
            var channelId = channelSelect.value; // Select value
            var time = timeSelect.value;
            if (guildId && channelId && time) {
                computeButton.disabled = true;
                computeButton.innerText = "Computing..."
                fetch('/api/compute/' + guildId + "?channelId=" + channelId + "&time=" + time, {credentials: 'include'})
                    .then(function (response) {
                        return response.json();
                    })
                    .then(function (json) {
                        nodes = json['data'];
                        location.reload();
                    });
            }
        });
    </script>

    <h3>Stats</h3>

    <hr class="my-4">

    <!-- GRAPH -->

    <h3>Graph</h3>

    <div id="mynetwork"></div>

    <script>
        var channelId = '{{ data.guildId }}';
        var nodesJson;
        var edgesJson;
        var nodes;
        var edges;
        function showGraph() {
            fetch('/api/graph/' + channelId)
                .then(function (response) {
                    return response.json();
                })
                .then(function (json) {
                    nodesJson = json['nodes'];
                    edgesJson = json['edges'];

                    //--> code here
                    nodes = new vis.DataSet(nodesJson);
                    edges = new vis.DataSet(edgesJson);

                    // Instantiate our network object.
                    var container = document.getElementById('mynetwork');
                    var data = {
                        nodes: nodes,
                        edges: edges
                    };
                    var options = {
                        "edges": {
                            "smooth": {
                                "forceDirection": "none"
                            }
                        },
                        "nodes": {
                            shape: 'dot',
                            scaling: {
                                label: {
                                    min: 18,
                                    max: 30
                                },
                                customScalingFunction: function (min, max, total, value) {
                                    return value / total;
                                },
                                min: 5,
                                max: 150
                            }
                        },
                        "physics": {
                            "barnesHut": {
                                "avoidOverlap": 0.5,
                                //"centralGravity": 1,
                                "springLength": 700
                            },
                            "minVelocity": 0.75
                        },
                        "layout": {
                            "improvedLayout": true
                        }
                    };
                    network = new vis.Network(container, data, options);
                });
        }
        (function() {
            showGraph();
        })();
    </script>


