<style type="text/css">
    #mynetwork {
        width: 100%;
        height: 80vh;
        border: 1px solid lightgray;
    }
</style>

<script>
    var channels = {{ data.channels | tojson }};
</script>

<h2><img src="{{ serverimg(server.id, server.icon) }}" class="rounded small"/>{{ server.name }} <select class="custom-select mb-2 mr-sm-2 mb-sm-0" style="font-size: 18px;" id="channelSelect">
    {% for channel in data.channels %}
    {% if channel.type == "text" %}
    <option value="{{ channel.id }}" {% if channel.id == data.channelId %} selected {% endif %}>#{{ channel.name }}</option>
    {% endif %}
    {% endfor %}
</select></h2>
<div class="container">
    <div class="row">
        <div class="col">
            <p><b>{{ channelinfos.nbmessages }}</b> messages</p>
            <p>From <b>{{ channelinfos.firstmessage.timestamp }}</b> to <b>{{ channelinfos.lastmessage.timestamp }}</b>
            </p>
        </div>
        <div class="col">
            <h2>Compute more stats</h2>
            <form class="form-inline">
                <label class="mr-sm-2" for="channelSelect">Messages</label>
                <label class="sr-only" for="nbMessagesInput">Nb messages</label>
                <input type="number" class="form-control mb-2 mr-sm-2 mb-sm-0" id="nbMessagesInput" placeholder="100" step="10" min="0" max="1000" maxlength="4">
                <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="timeSelect">
                    <option value="before">older</option>
                    <option value="after">newer</option>
                </select>
                <button type="button" class="btn btn-primary" id="computeButton">Compute</button>
            </form>
        </div>
    </div>
</div>

    <!-- COMPUTE BUTTON LOGIC -->
    <script>
        var computeButton = document.getElementById("computeButton");
        var nbMessagesInput = document.getElementById("nbMessagesInput");
        var channelSelect = document.getElementById("channelSelect");
        var timeSelect = document.getElementById("timeSelect");

        var guildId = '{{ data.guildId }}';
        var channelId = '{{ data.channelId }}';// channelSelect.value; // Select value

        computeButton.addEventListener('click', function () {

            var time = timeSelect.value;
            if (guildId && channelId && time) {
                computeButton.disabled = true;
                computeButton.innerText = "Computing...";
                nb = nbMessagesInput.value;
                var nbString = '';
                if (nb.length > 0) {
                    nbString = "&number=" + nb;
                }
                fetch('/api/compute/' + guildId + "?channelId=" + channelId + "&time=" + time + nbString, {credentials: 'include'})
                    .then(function (response) {
                        return response.json();
                    })
                    .then(function (json) {
                        nodes = json['data'];
                        location.reload();
                    });
            }
        });

        channelSelect.addEventListener('change', function () {
            var newChannelId = channelSelect.value;
            window.location.href = '/server-info/' + guildId + '/' + newChannelId;
        })
    </script>

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#stats" role="tab" aria-controls="stats">Stats</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#time" role="tab" aria-controls="time">Time graph</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#graph" role="tab" aria-controls="graph">Answers graph</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="stats" role="tabpanel" style="overflow-x: auto;">
            <table class="table table-bordered" id="statsTable">
            </table>
        </div>

        <div class="tab-pane" id="time" role="tabpanel">
            Time graph here
        </div>

        <div class="tab-pane" id="graph" role="tabpanel">
            <!-- GRAPH -->

            <h4>Graph</h4>

            Here is a graph representing the flow of conversation between its members.
            Nodes are people, and edges are messages.
            An arrow A→B means that A sent a message, and then B sent an answer. It can so be viewed as<br/>
            A→B means "A talks to B".

            <div id="mynetwork"></div>

            <script>
                var channelId = '{{ data.channelId }}';
                var table = document.getElementById('statsTable');
                var nodesJson;
                var edgesJson;
                var nodes;
                var edges;
                function showGraph() {
                    console.log("Sending call");
                    fetch('/api/graph/' + channelId)
                        .then(function (response) {
                            console.log("Received response");
                            return response.json();
                        })
                        .then(function (json) {
                            nodesJson = json['nodes'];
                            edgesJson = json['edges'];

                            //--> code here
                            nodes = new vis.DataSet(nodesJson);
                            edges = new vis.DataSet(edgesJson);

                            // Instantiate our network object.
                            var container = document.getElementById('mynetwork');
                            var data = {
                                nodes: nodes,
                                edges: edges
                            };
                            var options = {
                                "edges": {
                                    "smooth": {
                                        "forceDirection": "none"
                                    }
                                },
                                "nodes": {
                                    shape: 'dot',
                                    scaling: {
                                        label: {
                                            min: 18,
                                            max: 30
                                        },
                                        customScalingFunction: function (min, max, total, value) {
                                            return value / total;
                                        },
                                        min: 5,
                                        max: 150
                                    }
                                },
                                "physics": {
                                    "barnesHut": {
                                        "avoidOverlap": 0.5,
                                        //"centralGravity": 1,
                                        "springLength": 700
                                    },
                                    "minVelocity": 0.75
                                },
                                "layout": {
                                    "improvedLayout": true
                                }
                            };
                            network = new vis.Network(container, data, options);
                            console.log("Graph displayed.");
                            // Table
                            var nodes = json['nodes'];
                            var edges = json['edges'];

                            var tdata = {};
                            var name = {};
                            for (var i = 0; i < nodes.length; i++) {
                                var e = nodes[i];
                                tdata[e.id] = {};
                                name[e.id] = e.label;
                            }
                            for (i = 0; i < edges.length; i++) {
                                e = edges[i];
                                tdata[e.from][e.to] = e.value;
                            }
                            head = document.createElement("thead");
                            trhead = document.createElement("tr");
                            th = document.createElement("th");
                            th.innerHTML = "<span style='float: right;'>Sent</span><br/>Answered";
                            trhead.appendChild(th);
                            for (var id in name) {
                                th = document.createElement("th");
                                th.appendChild(document.createTextNode(name[id]));
                                trhead.appendChild(th);
                            }
                            head.appendChild(trhead);
                            table.appendChild(head);

                            tbody = document.createElement("tbody");
                            for (from in name) {
                                tr = document.createElement("tr");
                                th = document.createElement("th");
                                th.appendChild(document.createTextNode(name[from]));
                                tr.appendChild(th);
                                for (to in name) {
                                    td = document.createElement("td");
                                    if (tdata[to][from]) {
                                        td.appendChild(document.createTextNode(tdata[to][from]));
                                    } else {
                                        td.appendChild(document.createTextNode('0'));
                                    }
                                    tr.appendChild(td);
                                }
                                tbody.appendChild(tr);
                            }
                            table.appendChild(tbody);
                        });
                }
                (function() {
                    console.log("Calling show graph.");
                    $(function () {
                        $('#myTab a:first').tab('show');
                    });
                    showGraph();
                })();
            </script>
        </div>
    </div>





